body{
    width: 100%;
      
}
.homes{
    background: #E3E6F3;
    

}
.section-padding{
    padding: 40px 80px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    /* background: #E3E6F3; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); 
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
     
}

.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active {
    color: #F37A7C;
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #F37A7C;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#home{
    /* background-image: url(images/img3.png); */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% righ 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    

}
.container .title{
 margin-left: 5%;   
    margin-top: 10%;
    font-size: 16px;
}
.title h4{
    padding-bottom: 15px;
    
}
.title h2{
    font-size: 36px;
}
.title h1{
    color: #F37A7C;
    font-size: 36px;
}
.imge img{
    margin-top: -25%;
    margin-left: 60%;
}

.title button{
    background-color: #F37A7C;
    border: none;
    padding: 14px 30px ;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
    
}

#feature .co-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 10px 0 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .co-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}
#feature .co-box img{
    width: 100%;
    height: 20%;
    margin-bottom: 10px ;
    
}

#feature .co-box h6{
    display: inline-block;
    padding: 9px 8px 16px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #F37A7C;
    background-color: #fddde4;
}

#products{
    text-align: center;
}
#products .product-container{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
#producta .product-container:hover{
    box-shadow: 20px 20px rgba(0, 0, 0, 0.06);
}

#products .product-container img{
    width: 100%;
    border-radius: 20px;
    
}
#products .product-container .descriptions{
    text-align: start;
    padding: 10px 0;
}
#products .product-container .descriptions span{
    color: #F37A7C;
    padding-top: 1%;
    font-size: 19px;
}

#products .product-container .descriptions h5{
    padding-top: 1%;
    color: #1a1a1a;
    font-size: 20px;
    padding-bottom: 2%;
}

#products .product-container .descriptions i{
    font-size: 22px;
    color: rgb(243, 181, 25);
}










/*  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#" class="logo">
        <img src="./assets/images/logo.svg" width="160" height="50" alt="Footcap logo">
      </a>

      <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="./assets/images/logo.svg" width="190" height="50" alt="Footcap logo">
        </a>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="navbar-link">Home</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link">About</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link">Products</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link">Shop</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link">Blog</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link">Contact</a>
          </li>

        </ul>

        <ul class="nav-action-list">

          <li>
            <button class="nav-action-btn">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>

              <span class="nav-action-text">Search</span>
            </button>
          </li>

          <li>
            <a href="#" class="nav-action-btn">
              <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

              <span class="nav-action-text">Login / Register</span>
            </a>
          </li>

          <li>
            <button class="nav-action-btn">
              <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>

              <span class="nav-action-text">Wishlist</span>

              <data class="nav-action-badge" value="5" aria-hidden="true">5</data>
            </button>
          </li>

          <li>
            <button class="nav-action-btn">
              <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>

              <data class="nav-action-text" value="318.00">Basket: <strong>$318.00</strong></data>

              <data class="nav-action-badge" value="4" aria-hidden="true">4</data>
            </button>
          </li>

        </ul>

      </nav>

    </div>
  </header>
 */











/* .header {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active { box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1); }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.nav-open-btn {
  font-size: 30px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 8px;
}

.nav-open-btn:is(:hover, :focus) { background: var(--salmon); }

.nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-right: 3px solid var(--rich-black-fogra-29);
  font-family: var(--ff-roboto);
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 2;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(280px);
  transition: 0.5s var(--cubic-in);
}

.nav-close-btn {
  color: var(--rich-black-fogra-29);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  font-size: 25px;
  transition: var(--transition-1);
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 55px; }

.nav-close-btn:is(:hover, :focus) { color: var(--bittersweet); }

.navbar .logo {
  background: var(--maximum-blue-green_10);
  padding-block: 50px 40px;
}

.navbar .logo img { margin-inline: auto; }

.navbar-list,
.nav-action-list { margin: 30px; }

.navbar-list {
  padding: 20px;
  border-bottom: 1px solid var(--gainsboro);
}

.navbar-link {
  color: var(--rich-black-fogra-29);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--bittersweet); }

.navbar-item:not(:last-child) { border-bottom: 1px solid var(--gainsboro); }

.nav-action-list > li:first-child { display: none; }

.nav-action-btn {
  color: var(--rich-black-fogra-29);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 10px;
  transition: var(--transition-1);
}

.nav-action-btn:is(:hover, :focus) { color: var(--bittersweet); }

.nav-action-btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 25px;
}

.nav-action-text strong {
  font-weight: initial;
  color: var(--bittersweet);
}

.nav-action-badge {
  margin-left: auto;
  font-size: var(--fs-8);
  background: var(--bittersweet);
  color: var(--white);
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
} */