body{
    width: 100%;
      
}
.homes{
    background: #E3E6F3;
}
.section-padding{
    padding: 40px 80px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    /* background: #E3E6F3; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); 
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
     
}

.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active {
    color: #F37A7C;
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #F37A7C;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#home{
    /* background-image: url(images/img3.png); */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% righ 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    

}
.container .title{
 margin-left: 5%;   
    margin-top: 10%;
    font-size: 16px;
}
.title h4{
    padding-bottom: 15px;
    
}
.title h2{
    font-size: 36px;
}
.title h1{
    color: #F37A7C;
    font-size: 36px;
}
.imge img{
    margin-top: -25%;
    margin-left: 60%;
}

.title button{
    background-color: #F37A7C;
    border: none;
    padding: 14px 30px ;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
    
}

#feature .co-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 10px 0 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .co-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}
#feature .co-box img{
    width: 100%;
    height: 20%;
    margin-bottom: 10px ;
    
}

#feature .co-box h6{
    display: inline-block;
    padding: 9px 8px 16px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #F37A7C;
    background-color: #fddde4;
}

#products{
    text-align: center;
}
#products .product-container{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
}